a {
    text-decoration: none !important;
    color:rgb(160, 180, 180) !important;
}

a:hover {
    color:rgb(134, 192, 189) !important;
}

.title {
    color:rgb(134, 192, 189);
    font-size: 24px;
    font-weight: 600;
}

.content {
    color:rgb(160, 180, 180);
    font-size: 20px;
}