#resume:hover, #contact:hover, #github:hover, #linkedin:hover, #portfolio:hover {
    color:rgb(134, 192, 189);
}

#navbrand {
    color:rgb(134, 192, 189);
    font-weight: 550;
    font-size: 24px;
}
