h4 {
    color:rgb(134, 192, 189);
}

#card1, #card2 {
    background-color: rgb(35, 40, 41);
}

.cardtitle {
    color:rgb(160, 180, 180);
}

#livelink1, #livelink2, #ghrepo1, #ghrepo2 {
    background-color: rgb(134, 192, 189);
    border-color: rgb(134, 192, 189);
}

#livelink1:hover, #livelink2:hover, #ghrepo1:hover, #ghrepo2:hover {
    background-color: rgb(160, 180, 180);
    border-color: rgb(160, 180, 180);
}